*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    font-family: var(--font);
}

:root{
    --color-Green: #00A000;
    --color-Black: #000001;
    --color-Grey: #999999;
    --color-White: #FFFFFF;

    --font: "Gilroy";
}