@import url(global.css);

/* Header */
header{
    display: flex;
    margin: 40px 100px;
    align-items: center;
    justify-content: space-around;
}
nav ul{
    display: flex;
    gap: 40px;
    list-style: none;
}

nav ul a{
    text-decoration: none;
}
.buttons{
    display: flex;
    gap: 24px;
}

.login-button{
    border: 1px solid var(--color-Green) ;
    border-radius: 10px;
    color:  var(--color-Green);
    width: 105px;
    height: 51px;
    background-color: var(--color-White);
}

.nav-header{
    text-decoration: none;
}

.nav-header a{

    color: var(--color-Grey);
}

.active a{
    color: var(--color-Green);
}
/* Fim do Header */

/* Main */
.main-container{
    display: flex;
    margin-bottom: 12px ;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.main-info{
    margin: 40px 100px;
    width: 563px;   
}

.main-info h1{
    font-size: 60px;
}

.main-info p{
    padding: 32px 0px;
    color: var(--color-Grey);
    width: 503px;
    line-height: 1.5;
    font-size: 18px;
}

.span{
    color: var(--color-Green);
    margin-bottom: 32px;
}

.salad{
    display: flex;
    width: 651px;
    height: 494px;
}

.Order-button{
    background-color: var(--color-Green);
    border-radius: 10px;
    color: var(--color-White);
    border: none;
    padding: 16px 32px;
    margin-right: 24px;
}

.Explore-button{
    color: var(--color-Green);
    border-radius: 10px;
    background-color: var(--color-White);
    border: 1px solid var(--color-Green);
    padding: 16px 32px;
}
/* Fim do Main */

/* Offers */
.offers{
    background-color: var(--color-bgGrey);
    padding: 100px 0px;
    margin-top: 102px;
}

.offers-title{
    text-align: center;
}

.offers-title h2{
    font-size: 48px;
    margin-bottom: 7px;
}

.offers-title p{
    font-size: 18px;
    color: var(--color-Grey)
}

.offers-containers{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.offers-ilustration{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 68.5px;
}

.offers-ilustration h3{
    font-size: 28px;
    margin-bottom: 8px;
    margin-top: 40px;

}

.offers-ilustration p{
    font-size: 18px;
    color: var(--color-Grey);
    text-align: center;
    width: 275.3px;
    line-height: 1.5;
}

.offers-info{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.numbers{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.numbers h2{
    font-size: 48px;
    margin-bottom: 8px;
    font-weight: bold;
}

.numbers p{
    font-size: 18px;
    color: var(--color-Grey);
}
/* Fim do Offers */

/* Special Dishes */
.special-dishes{
    padding: 100px 0px;
    margin-top: 60px;
}

.special-dishes-title h2{
    display: flex;
    justify-content: center;
    font-size: 48px;
    margin-bottom: 60px;
}

.special-dishes-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.special-dishes-images{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
}

.special-dishes-images h3{
    font-size: 28px;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
}

.special-dishes-images p{
    font-size: 18px;
    color: var(--color-Grey);
    width: 279px;
    margin-bottom: 16px;
    text-align: center;
    line-height: 1.5;
}

.buy-button{
    display: flex;
    justify-content: center;
    width: 352px;
    padding: 16px 0px;
    border-radius: 8px;
    background-color: var(--color-Green);
    color: var(--color-White);
}
/* Fim do Special Dishes */

/* Clients */
.clients{
    background-color: var(--color-bgGrey);
    padding: 100px 0px;
    margin-top: 61px;
}

.clients-title{
    text-align: center;
}

.clients-title h2{
    font-size: 48px;
    margin-bottom: 8px;
    font-weight: bold;
}

.clients-title p{
    font-size: 18px;
    color: var(--color-Grey);
}

.clients-containers{
    display: flex;
    gap: 21px;
    justify-content: center;
}

.feedbacks{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    background-color: var(--color-White);
}

.feedbacks h3{
    font-size: 28px;
    margin-top: 24px;
    margin-bottom: 16px;
    text-align: center;
}

.feedbacks p{
    width: 319px;
    font-size: 18px;
    color: var(--color-Grey);
    text-align: center;
    line-height: 1.5;
}
/* Fim do Clients */

/* About */
.about{
    display: flex;
    padding: 100px 0px;
    margin-top: 60px;
    justify-content: center;
    gap: 82px;
}

.about-info{
    display: flex;
    flex-direction: column;
    width: 558px;
}

.about-info h3{
    font-size: 40px;
    margin-bottom: 24px;
}

.about-info p{
    font-size: 18px;
    margin-bottom: 24px;
    width: 558px;
    line-height: 1.5;
    color: var(--color-Grey);
}

.learn-button{
    width: 157px;
    height: 53px;
    padding: 16px 0px;
    background-color: var(--color-Green);
    color: var(--color-White);
    border-radius: 10px;
    font-size: 18px;
}
/* Fim do About */

/* Newsteller */
.newsteller{
    padding: 100px 0px;
    margin-top: 60px;
    background-color: var(--color-bgGrey);
}

.newsteller-container{
    margin: 100px 365px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsteller-title{
    margin-bottom: 89px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.newsteller-title h2{
    font-size: 48px;
    margin-bottom: 8px;
}

.newsteller-title p{
    color: var(--color-Grey);
    font-size: 18px;
}

.newsteller-input{
    display: flex;
    align-items: center;
}

.newsteller-input input{
    padding: 24px 24px;
    border-radius: 8px 0px 0px 8px;
    border: 1px solid var(--color-LGrey);
    border-right: none;
    background-color: var(--color-White);
    width: 718px;
}

.newsteller-input button{
    border-radius: 8px;
    border: none;
    color: var(--color-White);
    background-color: var(--color-Green);
    padding: 16px 32px;
}

.newsteller-button{
    padding: 8px;
    border: 1px solid var(--color-Grey);
    border-radius: 0px 8px 8px 0px;
    border-left: none;
}
/* Fim do Newsteller */